@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* BOTONES */
  --botonPrincipal: rgb(120, 126, 205);
  --botonAceptar: rgb(1, 224, 1);
  --botonSecundario: #3dc3c3;
  --botonActualizar: #6384ca;
  --botonELiminar: #e1103d;

  --hoverBotonPrincipal: rgb(186, 32, 153); 
  --hoverBotonAceptar: rgb(3, 166, 3);

  /* TEXTO */
  --colorTextoNavbar: rgb(186, 32, 153);
  --colorTextoTitulo1: rgb(186, 32, 153);
  --colorTextoTitulo2: rgb(36, 28, 34);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --nuevo: #ffffff;
    --verdede: green;
    --azulito: #f15101;
    --bgBloquedo: #a4a1a1;
    --webeo: #484848;
    --juego: rgb(126, 189, 233);
    
    

  }
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* .claseBotton{
  background: var(--azulito);
  height: 100%;
  width: 100%;
} */